

.movie-details-container {
    position: relative;
    width: 100vw;
    background-color: black;
}

.movie-details-container .background-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.background-container .movie-banner {
    width: 100%;
    height: 45vh;
}

.background-container .movie-banner > img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.background-container .banner-overlay {
    position: absolute;
    top: 0;
    height: 45vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(20,20,20,1) 100%);
}

.background-container .banner-bottom {
    width: 100%;
    min-height: 55vh;
    height: auto;
    background-color: #141414;
}

.movie-details-container .movie-information-wrapper {
    position: relative;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.movie-information-wrapper .poster-image {
    display: none;
}

.movie-data {

}

.movie-data .movie-data-top {
    
}

.movie-data .movie-data-top > h1 {
    text-align: center;
    font-weight: 800;
    color: white;
    font-size: 1.8rem;
    margin: 0;
}

.movie-data .movie-data-top > ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 5px;
}

.movie-data .movie-data-top > ul li {
    /*border: 1px solid #727272; */
    background-color: rgb(0 0 0 / 50%);
    padding: 2px 5px 4px;
    /* border-radius: 25px; */
    font-size: 0.8rem;
    font-weight: 600;
}

.movie-data .movie-data-top > p {
    font-size: .8rem;
    color: #bdbdbd;
}

.cast-section {
    padding: 0 15px;
    width: 100vw;
    text-align: left;
}

