.navbar-container {
    position: fixed;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #5858589c;
    backdrop-filter: blur(10px);
}

.nav-aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #0f0f0f;
    transition: all .8s ease;
    transform: translateX(-270px);
    opacity: 0;
}

.bg-overlay-blur {
    width: 100vw;
    height: 100vh;
    background-color: black;
    visibility: hidden;
    filter: blur(10px);
    position: absolute;
    opacity: 0.5;
    transition: all 0s ease;
}

.overlay-visible {
    visibility: visible !important;
}

.nav-btn {
    padding: 5px 5px 2px 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.2rem;
    transition: all .3s ease;
}

.logo-container {
    width: 120px;
}

.logo-container > img {
    width: 120px;
}

.overlay-nav {
    transform: none !important;
    opacity: 1 !important;
}

.overlay-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
}

.nav-close-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #ee5151;
}

.avatar-container {
    z-index: -10;
}













@media (min-width:360px) {


}

/* Desktop */
@media (min-width:768px) {


}