.footer-container {
    width: 100%;
    height: auto;
    background-color: #141414;
    color: rgb(214, 214, 214);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
}

.footer-container .left {
    width: 100%;
}

.footer-container .left > ul {
    list-style: none;
    display: flex;
    gap: 10px;
    color: rgb(214, 214, 214);
    text-decoration: none;
    padding: 5px 10px;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.footer-container .left > ul .social-media a {
    color: rgb(214, 214, 214);
    font-size: 1.2rem;
    transition: all .3s ease;
}

.footer-container .left > ul .social-media a:hover {
    color: white;
    font-size: 1.2rem;
}

.footer-container .center {
    width: 100%;
}

.footer-container .center > ul {
    list-style: none;
    display: flex;
    gap: 10px;
    color: rgb(214, 214, 214);
    text-decoration: none;
    padding: 5px 10px;
    margin: 0;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    line-height: .7;
}

.footer-container .center > ul .footer-links {
    transition: all .3s ease;
}

.footer-container .center > ul .footer-links:hover {
    color: #fff;
}

.footer-container .right {
    padding: 15px 10px 0px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: rgb(120 120 120);
}




/* Desktop */
@media (min-width:768px) {
    .footer-container {
        padding: 100px 25px 25px;
    }
}