* {
    box-sizing: border-box;
}

.app-container {
    /* width: 100vw;
    height: 100vh; */

}

.swiper-pagination-bullet {
    background: rgb(121, 121, 121) !important;
}

.swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color,var(--swiper-theme-color)) !important;
}